<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/TugasPertemuan1/component/css/aboutme.css">
</head>
<body>
    <div class="container">
        <div class="profile-card">
            <img src="/TugasPertemuan1/asets/WhatsApp Image 2025-01-22 at 22.47.15_89ccfa13.jpg" alt="Profile Photo" class="profile-photo">
            <h1 class="name">Reihan Aditya Putra</h1>
            <p class="bio">Halo! Saya Reihan, seorang siswa SMK Plus Pelita Nusantara Bogor dan 
                 sekaligus saya adalah santri dari Pondok Pesantren Al-Hidayah Tajur. saya tinggal di citereup jalan baru RT.01/03 Kec.
                Citeureup. saya berumur 16th </p>
            <p class="hobbies">Hobi saya mencakup:</p>
            <ul>
                <li>Membuat aplikasi dan website</li>
                <li>Memecahkan masalah dengan logika pemrograman</li>
                <li>Belajar teknologi terbaru</li>
                <li>Bermain game</li>
            </ul>
            <p class="quote">"Janganlah sesekali memelihara Kemalasan."</p>
            <a href="/index.html"><button>Kembali</button></a>
        </div>
    </div>
</body>
</html>
