


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Login Animasi</title>
    <link rel="stylesheet" href="/TugasPertemuan1/component/css/form.css">
</head>
<body>
    <div class="box">
        <span class="borderLine"></span>
        <form action="" method="POST">
            <div class="inputBox">
                <h2>Daftar Akun</h2>
                <input type="text" required="required" name="username">
                <span>Username</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required" name="password">
                <span>Password</span>
                <i></i>
            </div>
            <div class="links">
                <a href="#">Sudah Punya Akun</a>
                <a href="#">Login Disini!</a>
            </div>
            <input type="submit" value="Login">
            <a href="/index.html"><input type="button" value="Kembali"></a>
        </form>
    </div>
</body>
</html>