<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/TugasPertemuan1/component/css/prima.css">
    <title>bilangan prima</title>
</head>
<body>
    <div class="container">
    <h1>mencari bilangan prima</h1>
    <form action="hasil-prima.php" method="post">
        dari bilangan :<input type="number" name="bill1" required><br>
        sampai bilangan : <input type="number" name="bill2" required><br>
        <input type="submit" value="Proses">
        <a href="/index.html"><input type="button" value="Kembali"></a>
    </form>
    </div>
    <script src="/TugasPertemuan1/component/js/prima.js"></script>
</body>
</html>
