*, body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
    display: flex;
    padding-top: 100px;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #021526;
    width: 300px;
    height: 370px;
    margin: 10px;
    box-shadow: 10px 5px 5px 0 rgba(0,0,0,0.2);
    border-radius: 30px;
    color: whitesmoke;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: .2s all;
}

.card-img {
    background-color: aqua;
     height: 200px;
     margin-bottom: 10px;
    overflow: hidden;
    background-size: cover;
}
.card > h2 {
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}

.img1 {
    background-image: url(/TugasPertemuan1/asets/Prima.png);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.img2 {
    background-image: url(/TugasPertemuan1/asets/Game.png);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.img3 {
    background-image: url(/TugasPertemuan1/asets/Form-Login.png);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.card:hover{
    transform: scale(1.1);
    transition: .5s all ;
    background-color: whitesmoke;
    color: black;
    box-shadow: 0px 10px 10px 5px rgb(243, 52, 35);
 }

 @media screen  and (max-width: 778px) {
    .card {
        width: 270px;
        height: 300px;
    }

    .card-img {
        height: 170px;
    }

    .container {
        padding-top: 67px;
    }
 }