*, body {
    margin : 0px;
    padding : 0px;
    font-family: Arial, sans-serif;
}

/* Navbar Menu */

nav {
    height: auto;
    display : flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #021526;
    z-index: 1000;
    padding : 20px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 1);
}

.left {
    color: whitesmoke;
}

.right > ul{
    display : flex;
    gap: 50px;
    padding-left: 30px;
    font-weight: 600;
}

.right > ul > a{
    text-decoration: none;
    list-style-type: none;
    color: whitesmoke;
    transition: .4s all;
}

.right > ul > a:hover{
    color: red;
}    

/* end Navbar Menu  */

/* Main Manu */

main {
background-color: rgb(246, 245, 245);
}

main > .Judul {
    box-shadow: 1px 5px 2px 0.2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 15px;
    color: black;
}


.articles > .prg > h2 {
    font-size: 35px;
    margin-bottom: 50px;
    color: black;
}

.articles > .prg > h2 > span:before {
    content: "";
    animation: gerak infinite 10s ease;
    transform: translateY(-50%);
    color: hsl(0, 100%, 64%);
}

@keyframes gerak {
    0% {
        content: "Saya Reihan Aditya Putra";
    }
    50% {
        content: "Terima Kasih Sudah Singgah";
    }
    100% {
        content: "Selamat Datang";
    }
}

.articles > .prg > p >  a {
    text-decoration: none;
    color: black;
}

.prg {
    font-size: 20px;
    color: black;
}

.Button {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.Button > button {
    cursor: pointer;
    font-size: 25px;
    padding: 12px 20px;
    border-radius: 20px;
    transition: .4s all;
    color: black;
}

.Button > button:hover {
    background: red;
    color: white;
}

main > .articles {
    padding: 25px;
    display: flex;
    justify-content: space-around ;
    align-items: center ;
}

.img > img{
    display: block;
    position: relative;
    width: 400px;
    height: 500px;
    border-radius: 60px;
    box-shadow: 10px 4px 3px 1px rgba(0, 0, 0, 0.1);
}

main > .Project {
    box-shadow: 1px 5px 2px 0.2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 100px;
    padding: 15px;
    color: black;
}

@media screen and (max-width : 768px) {
    main > .Judul {
        font-size: 35px;
    }
    .img > img{
        /* position: relative; */
        width: 200px;
        height: 200px;
        border-radius: 60px;
    }

    .prg {
        font-size: 15px;
    }

    .articles > .prg > h2 {
        font-size: 26px;
        display: contents;
    }

    .articles > .img {
        display: block;
       position: relative; 
        top: 300px;
    }

    .articles > .prg {
        display: none;
        position: relative;
    }

    .Button > button {
        font-size: 15px;
        margin-top: 200px;
    }
}

/* end main menu */